doctype html
html
  head
    title Register
  body
    h1 Enter username and password to register
    form(action='/register', method='POST')
      label(for='username') Username:
      input(type='text', id='username', name='username', required)
      br
      label(for='password') Password:
      input(type='password', id='password', name='password', required)
      br
      button(type='submit') Register
